.eatting-time{
    margin: 10px 10px;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bolder;
}
.eatting-time p{
    display: inline-block;
    margin: 20px;
    border-bottom: 2px solid white;
}
.eatting-time p:hover{
    color: red;
    border-bottom: 2px solid red;
}
.checkout-button{
    margin: 20px auto;
    margin-bottom: 30px;
    padding: 5px;
    color: white;
    background-color: rgb(196, 28, 28);
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
}
